---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Very professional service. We called when our home demo project took a surprising turn and we needed electrical work. It was handled quickly and for the amount of time spent on the job it was very affordable and well done. Definitely recommend!
    image: "https://placebear.com/60/60"
  - message: Not only did Max do a fantastic job on our addition, he was also incredibly patient and kind to my children as they followed him around. Now, my 8-year-old is thinking about becoming an electrician.
    image: "https://placebear.com/60/60"
    name: Julie Mata
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>We are Loreto Solutions. We do electricity good, in a nearly 100% non-fatal way, using only holistically grown electricity, harvested from only the finest Brazilian Electra trees.</p>
</div>

{% leaflet_map { "center" : [39.18566000,  -78.16333000],
    "zoom" : 9,
    "providerBasemap": "CartoDB.Positron" } %}
    {}
{% endleaflet_map %}

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
