---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Loreto Electricians are the best in the business. They are professional, reliable and always on time.
    image: "https://placebear.com/60/60?a=.png"
    name: Joice Carmold
  - message: Loreto Solutions are the best of the best. Being local, they care about people and have strong ties to the community.
    image: "https://placebear.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: They fixed it real good.
    image: "https://placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>We are Loreto Solutions. We do electricity good, in a nearly 100% non-fatal way, using only holistically grown electricity, harvested from only the finest Brazilian Electra trees.</p>
</div>

{% leaflet_map { "center" : [39.18566000,  -78.16333000],
    "zoom" : 9,
    "providerBasemap": "CartoDB.Positron" } %}
    {}
{% endleaflet_map %}

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
